<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
</head>
<body>
    <h2>회원가입</h2>
    <form action="/signup" method="post">
        <div>
            <label for="name">이름:</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="phone">전화번호:</label>
            <input type="tel" name="phone" required>
        </div>
        <div>
            <label for="password">비밀번호:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="check_password">비밀번호 확인:</label>
            <input type="password" name="check_password" required>
        </div>
        <div>
            <button type="submit">가입하기</button>
        </div>
    </form>

</body>
</html>
